<div class="page-header">
  <%= link_to new_marca_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Marca
  <% end %>
  <h1>Listagem marcas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Nome</th>
        <th class="text-center" colspan=1> Criado em</th>
        <th class="text-center">Ações</th>      
      </tr>
    </thead>

    <tbody>
      <% @marcas.sort_by(&:id) %>
      <%= content_tag_for(:tr, @marcas) do |marca| %>
        <td class="text-center"><%= marca.id %></td>
        <td class="text-center"><%= marca.nome %></td>
        <td class="text-center"><%= marca.created_at %></td>
        <td class="text-center">
          <%= link_to 'Show', marca, :class => 'btn btn-success btn-xs' %>
          <%= link_to 'Edit', edit_marca_path(marca), :class => 'btn btn-primary btn-xs' %>
          <%= link_to 'Destroy', marca, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-xs btn-danger' %>
        </td>       
      <% end %>
    </tbody>
  </table>
</div>
